:root {
    --dark-primary-color: #233142; 
    --grey-primary-color: #455d7a; 
    --accent-color: #f95959; 
    --light-background-color: #e3e3e3; 
}

body {
    padding-top: 76px;
    font-family: 'Roboto Mono', monospace;
    color: var(--dark-primary-color);
    background-color: var(--dark-primary-color);
}
a {
    text-decoration: none;
}
.container {
    width: 96%;
    padding: 24px;
    margin: 0 auto;
    background-color: var(--grey-primary-color);
}
.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
background-color: var(--light-background-color);

height: calc(100vh - 104px);
}
.hero h1 {
    margin-bottom: 24px
}
.hero h3 {
    margin-bottom: 48px;
}
.hero a, .app-link {
    padding: 16px 24px;
    background-color: var(--accent-color);
    color: var(--light-background-color);
    font-weight: 700;
    text-transform:uppercase;
border-radius: 8px;
}
.navigation-links {
    display: flex;
    margin-top: 40px;
    justify-content: center;
  }
  

  
