:root {
    --dark-primary-color: #233142; 
    --grey-primary-color: #455d7a; 
    --accent-color: #f95959; 
    --light-background-color: #e3e3e3; 
}

body {
    font-family: 'Roboto Mono', monospace;
    color: var(--dark-primary-color);
    background-color: var(--dark-primary-color);
}
a {
    text-decoration: none;
}
.container {
    margin: 24px;
    padding: 24px;
    background-color: var(--light-background-color);
}
.hero {
padding-top: 40%;
text-align: center;
height: 100vh;
}
.hero h1 {
    margin-bottom: 24px
}
.hero h3 {
    margin-bottom: 48px;
}
.hero a {
    padding: 16px;
    background-color: var(--accent-color);
    color: var(--light-background-color);
    font-weight: 700;
    text-transform:uppercase;
border-radius: 8px;
}
